.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: azure;
    color: aqua;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(75, 72, 72, 0.767);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: blanchedalmond;
}
.dropdown a:hover{
    background-color: brown;
}